* {
  color: #c765ad;
}

body {
  border: 5px solid #7f64bc;
  height: 100%;
}

.App {
  text-align: center;
}

a{
  font-weight: bold;
  font-size: 1em;
}

#navbar {
  background-color: #f8c86f;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

#navtitle a{
  margin: 0 50px;
  font-size: 1.5em;
}

#navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  /* margin:  */
}

#book-container {
  background-color: #f8c86f;
  border: 5px solid #f29d7d;
  display: flex;
  flex-direction: column;
  margin: 25px 15%;
}

.bookinfo {
  display: flex;
  justify-content: space-around;
  text-align: start;
  align-items: center;
}

.bookdesc {
  width: 300px;
}

.bookimg {
  height: 150px;
}

#footer {
  background-color: #f8c86f;
  height: 40px;
  width: auto;
  display: flex;
  justify-self: end;
  align-self: end;
}
